Define classes to store data.

In [1]:
from dataclasses import dataclass

In [2]:
@dataclass 
class person:
    name: str
    age: int
    height: float
person1=person("John", 30, 5.9)

In [3]:
person1

person(name='John', age=30, height=5.9)

In [8]:
#Inheritance
@dataclass(frozen=True)
class person:
    name: str
    age: int
@dataclass(frozen=True)
class department(person):
    dept_id: int
    dept_name: str
person2=department('James',20,105,'Finance')

In [11]:
person2.name

'James'

In [10]:
person2.name='John'

FrozenInstanceError: cannot assign to field 'name'

In [12]:
#nested dataclasses
@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address

In [13]:
address=Address('123 Main St', 'New York', '10001')
person3=Person('Alice', 30, address)

In [14]:
person3.address.city

'New York'